<a href="https://colab.research.google.com/github/Yaswanth-99/python/blob/master/24_06_19(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#print sum of n even numbers

In [0]:
def printEven(n):
  cnt=0;
  sum=0;
  while(cnt!=n):
    if(cnt%2==0):
      sum=sum+cnt;
    cnt=cnt+1;
  return sum
print(printEven(20))

90

#example function

In [0]:
def factorsList(n):
  i=1;
  while(i!=n):
    if(n%i==0):
      print(i,end=" ");
    i=i+1;
  return ;
factorsList(12)

1 2 3 4 6

# LISTS

In [0]:
list1=[1,2,3,4,5,6];
#entire list
print(list1);
#list[0]
print(list1[0])

[1, 2, 3, 4, 5, 6]
1

# for loop
##syntax:
                           for<variable name> in <seq>:
                                               <statements>

In [0]:
list2=["hello","hii"]
for x in list2:
     print(x,end=" ")

hello hii

# List example with particular index

In [0]:
list1=[1,2,3,4,5,6,7]
for x in list1:
  print(x,end="  ")
  
print();
print(list1[4]);
print(list1[3:7]);
print(list1[:7])

1  2  3  4  5  6  7
5
[4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]

In [0]:
list1=[1,2,3,4,5,6,7,8,9,10]
for x in list1:
  print(x,end="  ")
    
print();
print(list1[1:-1]);
print(list1[2:-2]);
print(list1[::2]);
print(list1[::3]);
print(list1[::4]);
print(list1[::-2]);
print(list1[-1]);
print(list1[-10])

1  2  3  4  5  6  7  8  9  10
[2, 3, 4, 5, 6, 7, 8, 9]
[3, 4, 5, 6, 7, 8]
[1, 3, 5, 7, 9]
[1, 4, 7, 10]
[1, 5, 9]
[10, 8, 6, 4, 2]
10
1

In [0]:
list1 = ["anil","adarsh","akhil",1];
print(list1);
list1[2]=15;#update the list item
print(list1);
del list1[3];#delete the list item
print(list1);
list1[1]="gitam";
print(list1);
list2=[1,2,3];
print(list2);
print(list1+list2);# concatenation of both the lists

['anil', 'adarsh', 'akhil', 1]
['anil', 'adarsh', 15, 1]
['anil', 'adarsh', 15]
['anil', 'gitam', 15]
[1, 2, 3]
['anil', 'gitam', 15, 1, 2, 3]

In [0]:
list1 = [1,2,3,4,5]
print(list1);
del list1[2];
#list1[4]=15
print(list1);
print(len(list1));#used to find the length of the list
list1.append(15);
list1.append(150);
list1.append(1);
list1.append(3);
print(list1);
print(list1.count(1))
print(list1.count(150));

[1, 2, 3, 4, 5]
[1, 2, 4, 5]
4
[1, 2, 4, 5, 15, 150, 1, 3]
2
1

# List methods
##index(obj)
 
 
 returns the index of passed object first occurence from the left side

In [0]:
list1=[":gitam","python","raptor",1,5,"python","python"]
print(list1);
list1.index("python")#finding the index of object in the list
list1.index(1)
print(len(list1))
list1.insert(2,2019)
print(list1)
print(len(list1))
list1.insert(4,2020)
print(list1)

[':gitam', 'python', 'raptor', 1, 5, 'python', 'python']
7
[':gitam', 'python', 2019, 'raptor', 1, 5, 'python', 'python']
8
[':gitam', 'python', 2019, 'raptor', 2020, 1, 5, 'python', 'python']

In [0]:
list1=[":gitam","python","raptor",1,5,"python","python"]
print(list1);
list1.remove("python")
print(list1)
list1.remove("python")
print(list1)
list1.reverse()
print(list1)

[':gitam', 'python', 'raptor', 1, 5, 'python', 'python']
[':gitam', 'raptor', 1, 5, 'python', 'python']
[':gitam', 'raptor', 1, 5, 'python']
['python', 5, 1, 'raptor', ':gitam']