<a href="https://colab.research.google.com/github/Yaswanth-99/python/blob/master/25_06_19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##BINARY SEARCH ALGORITHM

** Binary search can only be applied on sorted list

** Binary search can only be applied on unique list

In [0]:
def binarysearch(a,lindex,rindex,taritem):
 while lindex <= rindex:
   mindex=lindex+(rindex-lindex)//2
   if a[mindex]==taritem:
     return mindex
   if a[mindex]>taritem:
     rindex=mindex-1
   else:
     lindex=mindex+1
 return -1
list1=[1,4,9,15,25,45,57,88,98]
res=binarysearch(list1,0,8,45)
if res!=-1:
 print('Item is found')
else:
 print('Item is not found')

Item is found

In [0]:
def bubblesort(a):
    for i in range(len(a)-1):
        for j in range(len(a)-1):
            if a[j] > a[j+1]:
                a[j],a[j+1] = a[j+1],a[j]
                
    for i in range(len(a)):
        print(a[i],end=" ")
        
list1 = [19,1,25,6,18,3]
bubblesort(list1)

1 3 6 18 19 25

### Strings in Python
 
 A string is a sequence of characters
 
 The conversion of character to a number is happens with ASCII number 
 
 ASCII Numbers 
 
 A-Z ------------65-90
  
  a-z-------------97-122
  
  0-9----------

In [0]:
#creating a string 
str = "application"
print(str)

str1 = "application"
print(str1)

str2 = """ application list
         working
         completed
         list
         strings 
         python """
print(str2)

application
application
 application list
         working
         completed
         list
         strings
         python

In [0]:
 str = "application"
print(str)
print("str[0] = ",str[0])
print("str[1] = ",str[1])
print("str[-1] = ", str[-1])
print("str[-3] = ",str[-3])
print("str[1:5] = ",str[1:5])
print("str[:5] = ",str[:5])
print("str[5:-2] = ",str[5:-2])
print("str[::-1] = ",str[::-1])

application
str[0] =  a
str[1] =  p
str[-1] =  n
str[-3] =  i
str[1:5] =  ppli
str[:5] =  appli
str[5:-2] =  cati
str[::-1] =  noitacilppa

##palindrome of strings

In [0]:

def isPalindrome(s):
 if s==s[::-1]:
   return True
 else:
   return False
 
print(isPalindrome("python"))
print(isPalindrome("jalaj"))

False
True

In [0]:
#count the digits of a number
n=int(input("Enter a number"));
cnt=0;
while n!=0:
 cnt=cnt+1;
 n=n//10;
 
print(cnt)

Enter a number1456
4

In [0]:
def countofchars(str):
  return len(str)
countofchars("application")

11

## string examples

In [0]:
def countuppercase(str):
 cnt = 0
 lst = list(str)
 for x in range(len(lst)):
   if ord(lst[x]) >= 65 and ord(lst[x]) <= 90:
     cnt = cnt + 1
 return cnt
print(countuppercase("AppLication"))
print(countuppercase("TeST"))

2
3

In [0]:
def printdigits(str):
   lst = list(str)
   for x in range(len(lst)):
       if ord(lst[x]) >= 48 and ord(lst[x]) <= 57: 
           print(lst[x],end="")
   return
printdigits("Application1889")
print('\n')
printdigits("Te1520st")

1889

1520

In [0]:
def sumOfDigits(str):
   sum = 0
   lst = list(str)
   for x in range(len(lst)):
        if ord(lst[x]) >= 48 and ord(lst[x]) <= 57:
           sum = sum + ord(lst[x]) - 48;
      
      
   return sum
sumOfDigits("Application1889")

26

In [0]:
def sumOfDigits(str):
   sum = 0
   lst = list(str)
   for x in range(len(lst)):
        if ord(lst[x]) >= 48 and ord(lst[x]) <= 57 and ord(lst[x])%2 == 0:
           sum = sum + ord(lst[x]) - 48;
      
      
   return sum
sumOfDigits("Application1889")

16