<a href="https://colab.research.google.com/github/Yaswanth-99/python/blob/master/26_06_19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##String function - In built Functions

upper() - returns string in which all the characters in upper case 

isalpha() - true and false (given string need to have only alphabetic characters)

istitle() - true and false (string is in title case)

isspace() - true and false

In [0]:
str = "yaswanth"
print(str.upper())

YASWANTH

In [0]:
s = "python is easy programming to learn and interesting"
s1 = "python"
print(s.islower())
print(s1.isupper())

True
False

In [0]:
s = "application"
s1 = "YASHU"
print(s.islower())
print(s1.isupper())

True
True

In [0]:
s = "1234"
s1 = "568a"
print(s.isnumeric())
print(s1.isnumeric())

True
False

In [0]:
s = "application"
s1 = "app1889"
print(s.isalpha())
print(s1.isalpha())

True
False

In [0]:
s = "Python programming"
s1 = "python programming"
print(s.istitle())
print(s1.istitle())

False
False

In [0]:
s = "python "
print(s.isspace())

False

### String methods
1. join()  : join() method will concatinate two strings 


2. split() :split() returns a list of strings that are seperated by whitespaces if there are no parameters
  
3.replace(): replace the original string with new string

In [0]:
str = "python"
print(" ".join(str))

p y t h o n

In [21]:
s = "python,programming,is,easy,to,learn"
print(s.split())
print(s.split("a"))

['python,programming,is,easy,to,learn']
['python,progr', 'mming,is,e', 'sy,to,le', 'rn']

In [22]:
s = "Python Programming is easy to learn"
lst = s.split()
print(lst)
print(lst.index("is"))

['Python', 'Programming', 'is', 'easy', 'to', 'learn']
2

In [24]:
s = "Python Programming is easy to learn"
print(s.replace("gra","application"))

Python Proapplicationmming is easy to learn

## Python - Tuples
 a tuple of seq of set of objects is like list only .
 
 the differences of list and tuples  are ,the tuples cannot be changed unlike list 
 
 list will use square brackets hold objects[]
 
 tuples will use parenthesis to hold objects()

In [26]:
t1 = ("Python","Programming",1989,2019,"Machine Learning","AI")
t2 = (1,2,3,4)
print(t1)
print(t2)

('Python', 'Programming', 1989, 2019, 'Machine Learning', 'AI')
(1, 2, 3, 4)

In [27]:
t1 = ("Python","Programming",1989,2019,"Machine Learning","AI")
print("t1[0] = ",t1[0])
print("t1[2] = ",t1[2])
print("t1[-1] = ",t1[-1])
print("t1[1:4] = ",t1[1:4])
print("t1[2:-2] = ",t1[2:-2])

t1[0] =  Python
t1[2] =  1989
t1[-1] =  AI
t1[1:4] =  ('Programming', 1989, 2019)
t1[2:-2] =  (1989, 2019)

In [36]:
t1 = ("Python","Programming",1989,2019,"Machine Learning","AI")
print(t1)
del t1
print(t1)

('Python', 'Programming', 1989, 2019, 'Machine Learning', 'AI')

NameError: ignored

In [0]:
t1 = ("python","programming")
t2 = (1989,2019,"ML","AI")
t3 = t1 + t2

### Tuple Methods
1. len(tuple ) : len of the tuple
2.max(tuple) : returns the max value from tuple
3.min(tuple)  : returns the min value from tuple
4.cmp(tuple1,tuple2) : returns the value as 1 or -1

In [37]:
list1 = ["Python","Programming",1989,2019,"Machine Learning","AI"]
print(list1)
tuple1 = tuple(list1)
print(tuple1)

['Python', 'Programming', 1989, 2019, 'Machine Learning', 'AI']
('Python', 'Programming', 1989, 2019, 'Machine Learning', 'AI')

##Python Dictionary
Dictionary  each key is seperated with values by colon( : )
  
  user data is seperated from comma operator 

examples  :-

user 1 = {'name','yaswanth','age',}
### Methods

**1.len(dictobj)** :- returns a number which having length

**2.str(dicObj)** :- returns the equ  string to dic object

**3.copy()** :- copies the one dic obj data to another dic obj data 

**4.items()** :-returns a list of dict

In [51]:
user1 = {'name':'yaswanth' , 'age':18,'email id':'yaswantharumilli15@gmail.com' }
print("user1[name] = ",user1[name])
print("user1[age] = ",user1[age])
print("user1[emailid] = ",user1[emailid])

NameError: ignored

In [41]:
user1 = {'Name':'yaswanth','Age':'18','EmailID':'yaswanth@gmail.com','MobileNumber':'9999999999'}
print('user1[Name] = ',user1['Name'])
print('user1[EmailID] = ',user1['EmailID'])
print('user1[Age] = ',user1['Age'])
print('user1[MobileNumber] = ',user1['MobileNumber'])

user1[Name] =  yaswanth
user1[EmailID] =  yaswanth@gmail.com
user1[Age] =  18
user1[MobileNumber] =  9999999999

In [44]:
user1 = {'Name':'yaswanth','Age':'18','EmailID':'yaswanth@gmail.com','MobileNumber':'9999999999'}
print(user1['EmailID'])
#update the dictionary object data
user1['EmailID'] = 'yaswantharumilli15@gmail.com'
print(user1['EmailID'])
user1['Address'] = 'Hyderabad' # new entry for an item in dictionary object
print(user1['Address'])

yaswanth@gmail.com
yaswantharumilli15@gmail.com
Hyderabad

In [0]:
user1 = {'Name':'yaswanth','Age':'18','EmailID':'yaswanth@gmail.com','MobileNumber':'9999999999'}
del user1['EmailID']
user1.clear()
del user1

In [0]:
user1 = {'Name':'yaswanth','Age':'18','EmailID':'yaswanth@gmail.com','MobileNumber':'9999999999'}
print(len(user1))
user1['address']

In [50]:
user1 = {'Name':'yaswanth','Age':'18','EmailID':'yaswanth@gmail.com','MobileNumber':'9999999999'}
user2 = user1.copy()
print(user1)
print(user2)
user1['Address'] = 'hyderabad'
print(user1)
print(user2)

{'Name': 'yaswanth', 'Age': '18', 'EmailID': 'yaswanth@gmail.com', 'MobileNumber': '9999999999'}
{'Name': 'yaswanth', 'Age': '18', 'EmailID': 'yaswanth@gmail.com', 'MobileNumber': '9999999999'}
{'Name': 'yaswanth', 'Age': '18', 'EmailID': 'yaswanth@gmail.com', 'MobileNumber': '9999999999', 'Address': 'hyderabad'}
{'Name': 'yaswanth', 'Age': '18', 'EmailID': 'yaswanth@gmail.com', 'MobileNumber': '9999999999', 'Address': 'hyderabad'}

In [52]:
user1 = {'Name':'yaswanth','Age':'18','EmailID':'yaswanth@gmail.com','MobileNumber':'9999999999'}
print(user1.items())

dict_items([('Name', 'yaswanth'), ('Age', '18'), ('EmailID', 'yaswanth@gmail.com'), ('MobileNumber', '9999999999')])

In [53]:
user1 = {'Name':'yaswanth','Age':'18','EmailID':'yaswanth@gmail.com','MobileNumber':'9999999999'}
print(user1.values())

dict_values(['yaswanth', '18', 'yaswanth@gmail.com', '9999999999'])

In [54]:
user1 = {'Name':'yaswanth','Age':'18','EmailID':'yaswanth@gmail.com','MobileNumber':'9999999999'}
user2=user1.copy()
print(user1.values())
print(user2.values())

dict_values(['yaswanth', '18', 'yaswanth@gmail.com', '9999999999'])
dict_values(['yaswanth', '18', 'yaswanth@gmail.com', '9999999999'])

### String Formatting
%s %d

In [55]:
lst = ['python','programming']
print("%s %s"%(lst[0],lst[1]))

python programming

In [56]:
lst = ['python','programming']
print("{0} {1}" . format(lst[0],lst[1]))

python programming

In [57]:
contacts = {}
def addcontact(name,phone) : 
    #verify that the contact doesnt exist already
    if name not in contacts:
        contacts[name] = phone
        print("contact %s added" % name)
    else:
       print("contact %s already exists" % name)
        
    return
addcontact("yashu",1545154)
addcontact("yash",15487879)
addcontact("yashu",144884)

contact yashu added
contact yash added
contact yashu already exists

In [58]:
#search for a particular contact from contacts list
def SearchContact(name):
    if name in contacts:
      print(name, " : ", contacts[name])
    else:
        print("%s does not exists" % name )
    return
SearchContact("yashu")
SearchContact("yaswanth")

yashu  :  1545154
yaswanth does not exists

In [59]:
# when contacts is given  as  a dictionary 
# merge new contact with existing contact list
def importcontacts(newcontacts):
  contacts.update(newcontacts)
  print(len(newcontacts.keys()),"contacts added successfully")
  return
newcontacts = {'yaswanth':6597985644,'tarak':8987847475}
importcontacts(newcontacts)

2 contacts added successfully

In [60]:
#Delete a conatct from contacts list
def deletecontact(name):
 if name in contacts:
   del contacts[name]
   print(name,'is deleted from the contacts')
 else:
   print(name,'does not exists in the contacts')
 return
deletecontact('yaswanth')
deletecontact('tarak')

yaswanth is deleted from the contacts
tarak is deleted from the contacts

In [63]:

def updatecontact(name,phone):
 if name in contacts:
   contacts[name] = phone
   print(name,'Updated with new Phone number')
 else:
   print(name,'Not exists in contacts')
 return
updatecontact('yashu',9852415846)
updatecontact('yash ',9865456354)

yashu Updated with new Phone number
yash Updated with new Phone number

###Packages and Modules

**Package**:- Collection of Modules(Python file .py)

**Sub Packages**:- Its part of Main package

**Module**:- A single Python file contains set of operations(Functions)

        *#Package --> Sub package --> Modules --> Functions*
        
        *#Standard Lib -- Math *

In [72]:
from math import floor as f1
f1(1.5)

1

In [73]:
from math import factorial as f2
f2(1)

1

In [71]:
#Generate the random numbers between two limits
import random
def generaterandomnumbers(n,lb,ub):
  for i in range(0,n):
    print(random.randint(lb,ub),end=' ')
  return
generaterandomnumbers(10,12,120)

52 110 106 73 78 63 64 88 17 72

##1.Use math package -- Extract minimum of 10 functions



##2.Use random package -- Extract minimum of 10 functions

In [76]:
# returning the ceil of 2.3 
import math
a = 2.3
print ("The ceil of 2.3 is : ", end="") 
print (math.ceil(a))

The ceil of 2.3 is : 3

In [77]:
# returning the floor of 2.3
import math 
a = 2.3
print ("The floor of 2.3 is : ", end="") 
print (math.floor(a))

The floor of 2.3 is : 2

In [78]:
#returning the absolute value
import math 
a = -15
print ("The absolute value of -15 is : ", end="") 
print (math.fabs(a))

The absolute value of -15 is : 15.0

In [79]:
#returning the factorial
import math
a = 3
print("the factorial of 3 is : ", end=" ")
print (math.factorial(a))

the factorial of 3 is :  6

In [81]:
#returning the copysigned value 
import math
a = -2.3
b = 99
print("the factorial of -2.3 and 99 is : ", end=" ")
print(math.copysign(-2.3,99))

the factorial of -2.3 and 99 is :  2.3

In [83]:
#returning the gcd
import math
a = 45
b = 3
print("the gcd of 45 and 3 is : ", end=" ")
print(math.gcd(45,3))

the gcd of 45 and 3 is :  3

In [84]:
import math
a = 23
print("given number is : ", end=" ")
print(math.isfinite(a))

given number is :  True

In [85]:
import math
a = 3.58
print("the mod of 3.58 is : ",end=" ")
print(math.modf(a))

the mod of 3.58 is :  (0.5800000000000001, 3.0)

In [86]:
import math
a = 2.99
print("the exp of 2.99 is : ",end=" ")
print(math.exp(a))

the exp of 2.99 is :  19.88568249156473