<a href="https://colab.research.google.com/github/Yaswanth-99/python/blob/master/29_06_19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
a=pd.Series([1,2,3,4])
print(a)

0    1
1    2
2    3
3    4
dtype: int64

In [0]:
import numpy as np
a1=pd.Series([1,2,3,np.nan,4])
print(a1)

0    1.0
1    2.0
2    3.0
3    NaN
4    4.0
dtype: float64

In [0]:
# craeate a date in a particular range
dates = pd.date_range('20190601',periods=20)
print(dates) ;

DatetimeIndex(['2019-06-01', '2019-06-02', '2019-06-03', '2019-06-04',
               '2019-06-05', '2019-06-06', '2019-06-07', '2019-06-08',
               '2019-06-09', '2019-06-10', '2019-06-11', '2019-06-12',
               '2019-06-13', '2019-06-14', '2019-06-15', '2019-06-16',
               '2019-06-17', '2019-06-18', '2019-06-19', '2019-06-20'],
              dtype='datetime64[ns]', freq='D')

In [0]:
a3=pd.DataFrame({'A':1,
                'B':pd.Timestamp('20190608')})
print(a3)

In [0]:
a2 = pd.DataFrame(pd.date_range('20190601',periods=5),index=dates,columns=list('ABCD'))
print(a2)

In [0]:
#Creating a dict converted into series of values
a3 = pd.DataFrame({'A':1.,
                  'B':pd.Timestamp('20190601'),
                  'C':pd.Series(1,index=list(range(4)),dtype='float32'),
                  'D':np.array([3]*4,dtype='int32'),
                  'E':pd.Categorical(['test','train','test','train']),
                  'F':'foo'})
print(a3)

     A          B    C  D      E    F
0  1.0 2019-06-01  1.0  3   test  foo
1  1.0 2019-06-01  1.0  3  train  foo
2  1.0 2019-06-01  1.0  3   test  foo
3  1.0 2019-06-01  1.0  3  train  foo

In [0]:
# Turtle is a python feature like a drawing board
# Lines, squares, Star, Rect and etc
#Turtle() -- It creates and returns a new turtle object

In [0]:
# Step 1: Make all the "turtle" package to be imported
import turtle as tt
# Turtle method creates and returns the new object
a1 = tt.Turtle()
# forword() method moves 100 pixels
tt.forward(100)
# we are done
tt.done()

In [0]:
# Drawing a Square
import turtle as tt
a1 = tt.Turtle()
a1.forward(150)
a1.right(90)

a1.forward(150)
a1.right(90)

a1.forward(150)
a1.right(90)

a1.forward(150)
a1.right(90)

tt.done()

In [0]:
# Drawing a Square with looping statements
import turtle as tt
a1 = tt.Turtle()
for x in range(4):
  a1.forward(150)
  a1.right(90)
tt.done()

In [0]:
# Drawing a Square with looping statements
import turtle as tt
a1 = tt.Turtle()
for x in range(4):
  a1.backward(150)
  a1.left(90)
tt.done()

In [0]:
# Drawing a star
import turtle as tt
a1 = tt.Turtle()
for x in range(40):
  a1.forward(50)
  a1.right(144)
tt.done()

In [0]:
# Spiraling Star
import turtle as tt'
a1 = tt.Turtle()
for i in range(40):
  a1.forward(i * 10)
  a1.right(144)
tt.done()

In [0]:
# Changing of pen colour
import turtle as tt
c1 = tt.Turtle()
c1.pencolor('blue')
for i in range(50):
  c1.forward(50)
  c1.left(123)

c1.pencolor('red')
for i in range(50):
  c1.forward(100)
  c1.left(123)
  
tt.done()

In [0]:
# A colorful hexagon spiral program
import turtle as tt
colors = ['red','blue','orange','green','yellow','purple']
a1 = tt.Turtle()
for x in range(360):
  a1.pencolor(colors[x%6])
  a1.width(x/100+1)
  a1.forward(x)
  a1.left(59)
tt.done()

In [0]:
import turtle as tt
a1 = tt.Turtle()
colors = ['red','green','yellow','orange','blue','purple']
dot_distance = 10
width = 10
height = 15
a1.penup()
for x in range(height):
  a1.pencolor(colors[x%6])
  for i in range(width):
    a1.dot()
    a1.forward(dot_distance)
  a1.forward(dot_distance * width)
  a1.right(90)
  a1.forward(dot_distance)
  a1.left(90)
tt.done()

In [0]:
# Generating blue flowers
from turtle import *
import random
for n in range(50):
  penup()
  goto(random.randint(-400,400),random.randint(-400,400))
  pendown()
  red_amount = random.randint(0,30)/100.0
  blue_amount = random.randint(50,100)/100.0
  green_amount = random.randint(0,30)/100.0
  pencolor((red_amount,blue_amount,green_amount))
  circle_size = random.randint(10,40)
  pensize(random.randint(4,6))
  for i in range(6):
    circle(circle_size)
    left(60)

In [0]:
# Symbol generation using pytho turtle
from turtle import *
def main():
  colors = ('red','orange','yellow','seagreen4','Orchid4 ','royalblue1','dodgerblue1')
  reset()
  Screen()
  up()
  goto(-320,-195)
  width(70)
  for pcolor in colors:
    color(pcolor)
    down()
    forward(640)
    up()
    backward(640)
    left(90)
    forward(66)
    right(90)
  
  width(25)
  color('white')
  goot(0,-170)
  down()
  
  circle(170)
  left(90)
  forward(340)
  up()
  left(180)
  forward(170)
  right(45)
  down()
  forward(170)
  up()
  backward(170)
  left(90)
  down()
  forward(170)
  up()
  goto(0,300)
if __name__=="__main__":
  main()
  maiinloop()

In [0]:
# Generating a chos using python turtle lib
from turtle import *

N = 80

def f(x):
  return 3.9*x*(1-x)

def g(x):
  return 3.9*(x-x**2)

def h(x):
  return 3.9*x-3.9*x*x

def jumpto(x,y):
  penup()
  goto(x,y)

def line(x1,y1,x2,y2):
  jumpto(x1,y1)
  pendown()
  jumpto(x2,y2)

def coosys():
  line(-1,0,N+1,0)
  line(0,-0-1,0,1.1)

def plot(fun,start,color):
  pencolor(color)
  x = start
  jumpto(0,x)
  pendown()
  dot(5)
  for i in range(N):
    x = fun(x)
    goto(i+1,x)
    dot(5)
def main():
  reset()
  setworldcoordinates(-1.0,-1.0,N+1,1.1)
  speed(0)
  hideturtle()
  coosys()
  plot(f,0.35,'blue')
  plot(f,0.35,'')